<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar">
    <div class="logo">FreshBlend</div>
</nav>

<div class="contact-box">

    <h1>Contact Us 📞</h1>

    <p>
        Email:
        <a href="mailto:freshblend@gmail.com">
            freshblend@gmail.com
        </a>
    </p>

    <p>
        Phone:<br>

        <a href="tel:+233553643350">
            +233 55 364 3350
        </a><br>

        <a href="tel:+233244055431">
            +233 24 405 5431
        </a>
    </p>

    <p>
        Location: Accra, Ghana
    </p>

</div>

<footer>
    &copy; 2026 FreshBlend Smoothies
</footer>

</body>
</html>